*{
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 0px; /*    ESTO ES UN ESTILO PARA QUE FUNCIONE BIEN CON LOS NAVEGADORES*/
padding: 0;

}
#particles-js {
	width:100%;
	height:100%; /*ESTILOS DE LA ANIMACIÓN*/
	position:fixed;
	background:rgba(0,0,0,.8);
  z-index: -1;
}

body {
	font-family: oswald, helvetica, arial, sans-serif;
	background: #000;             /* estilos del cuerpo*/
	background-size: cover;
	background-attachment:fixed;

}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
.secmenu {
  border-radius: 10% !important;
}
.secmenu:hover {
  background: rgb(74, 73, 69) !important;
}


@media (min-width: 1281px) {


  .crucio {
    position:absolute;
    margin-top: 2% !important;
    margin-left: 15% !important;
    width:100%  !important;

  }

  .secmenu{
    position: absolute ;
    margin-left: 10% !important;

  }

	.maps iframe{
				position: relative;
				border-radius:10px;
				width: 300px;
				height:  300px;
	}
	.gm {
		display: none;
	}
	.miniredes {
		display: none;
	}

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1021px) and (max-width: 1280px) {

  .crucio {
    position:absolute;
    margin-top: 2% !important;
    margin-left: 30% !important;
    width:100%  !important;

  }

  .secmenu{
    position: absolute;
    margin-left: 5% !important;

  }
	.maps iframe{
				position: relative;
				border-radius:10px;
				width: 300px;
				height:  300px;
	}
	.gm {
		display: none;
	}
	.miniredes {
		display: none;
	}


}



/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1020px) {

  .crucio {
    position:absolute;
    margin-top: 3% !important;
    margin-left: 40% !important;
    width:100%  !important;

  }

  .secmenu{
    position: absolute;


  }
	.pie {
		height:300px;
	}
	.maps iframe{

			display: none;
	}
	.goo {
			width: 15%;
	}
	.miniredes {
		display: none;
	}


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.pie {
		height:300px;
	}
	.maps iframe{

			display: none;
	}
	.goo {
			width: 15%;
	}
	.miniredes {
		display: none;
	}


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
	.maps iframe{

			display: none;
	}
	.goo {
			width: 15%;
	}
	.redes {
		display: none;
	}
	.miniredes{
		position: absolute;
		left:30%;
	}

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

	.maps iframe{

				display: none;
	}
	.goo{
			width: 15%;
	}
	.redes {
		display: none;
	}
	.miniredes{
		position: absolute;
		left:30%;

	}
	
}





.alpha {

}

.contenido {
  border-radius: 1%;
  position:relative;
  width: 90%!important;

  left: 5%!important;



}
.contenido p {
  position: relative;
  margin: 2%!important;
}


.pie {
  margin-top: 10%!important;

  margin-bottom: 0.5%!important;
	position: absolute;

  width: 100%!important;
  color: #cccccc!important;
  background-color: #222222!important;

}
.redes {

position: absolute;
	top: 17%;
	width: 30%;
	left: 40%;


}
